*{
  box-sizing: border-box;
}

body {
  margin:0px;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-title {
  font-size: 1rem;
}

.nav{
  background-color: lightgray;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  z-index: 100;
  position: absolute;
  min-width: 100%;

}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: gray;
}

.nav li.hover {
  background-color: white;
}


.mysection {
  height: 100vh;
    background-color: antiquewhite;
}

.myTable{
  padding-left:20px;
  padding-right: 20px;
}

.column {
  float: left;
  /* width: 16.66%; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main{
    padding: 10px;
    background-color: pink;
    max-width: 100%;
  }
  .row {
    width: 100%;
  }
  .nav {
    width: 100%;
    background-color: pink;
  }
  .p {
    max-width: 100%;
    background-color: red;
  }
  .logincontainer{
    width:100%;
    min-height: 100vh;
    background-color: lightgray;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .main{
    padding: 10px;
    background-color: transparent;
  }
  .logincontainer{
    width:100%;
    min-height: 100vh;
    background-color: lightgray;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logincontainer{
    max-width:25%;
    position: fixed;
    right: 0px;
    min-height: 100%;
    background-color: lightgray;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color:black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbaritem {
  width: 8%;
  float: left;
  padding: 16px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  /* display: block; */
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  text-align: center;
  vertical-align: middle;
}

/* Change background on mouse-over */
.navbaritem hover {
  color: #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
}

.navbaritem active {
  border-bottom: 3px solid #f1f1f1;
}

/* Main content */
.main {
  max-width: 85%;
  margin-top: 0px; 
  margin-left:15%;
  padding: 10px;
  right:0;
  position: relative;
}

.filter {
  width: 100%;
  background-color: blueviolet;
}

.logincontainer{
  max-width:25%;
  position: fixed;
  right: 0px;
  min-height: 100vh;
  background-color: lightgray;
}

.myTable{
  width: 100%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  
  /* z-index: 2; Stay on top */
  /* top: 0; Stay at the top */
  left: 0;
  background-color: lightgray; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .main{
    width: 100vh;
    background-color: transparent;
    padding: 10px;
  }
  .sidenav {
    padding-top: 15px;

  }
  .sidenav a {font-size: 18px;}
  .logincontainer{
    width:100%;
    min-height: 100%;
    background-color: lightgray;
  }
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logincontainer{
    max-width:25%;
    position: fixed;
    right: 0px;
    min-height: 100%;
  }
}

